---

import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import MasonaryImages from "@/layouts/react-partials/MasonaryImages.tsx";
const { body, Content } = Astro.props;
const BLOG_FOLDERS = [ "kundenbereich"];
const [ blogCollectionHochzeit] = await Promise.all(BLOG_FOLDERS.map(folder => getSinglePage(folder)));

const sortedProjects = [
sortByDate(blogCollectionHochzeit),
];
const imagesWedding = await import.meta.glob(
  "/public/images/weddinghome/*.{jpeg,jpg,webp,png,gif}"
);

---

<section class="">
    <div class="">
    </div>
    </section>

