---
import Base from "@/layouts/Base.astro";
import VideoCarousel from "@/components/VideoCarousel.astro";
import DVDCoverSlider from "@/layouts/components/DVDCoverSlider.astro";

---

<Base
  title="125 Jahre TV-Emmering"
  meta_title="125 Jahre TV-Emmering Film"
  description="Erlebe die Geschichte und Meilensteine des TV-Emmering in diesem besonderen Filmprojekt."
  keywords="Film, Dokumentation, TV Emmering, Campos Viola"
  image=""
  body_class="page-color-dark-video page-color-light-video"
>

<section>
  <!-- Video Carousel -->
  <div class="relative z-0">
    <VideoCarousel />
  </div>

  <!-- DVD-Cover Slider -->
  <div class="-mt-36 relative z-10">  
    <DVDCoverSlider />
  </div>
</section>
<script type="module" src="/src/layouts/helpers/DVDSliderController.js"></script>
</Base>
