---
import Base from "@/layouts/Base.astro";
import VideoCarousel from "@/components/VideoCarousel.astro";
import DVDCoverSlider from "@/layouts/components/DVDCoverSlider.astro";
import VideoController from " @/scripts/VideoController.js";


---

<Base
  title="Cinema Projekte – Campos Viola"
  meta_title="Cinema | Do"
  description="Erlebe beeindruckende Filme und Dokumentationen von Campos Viola. Entdecke Projekte, die inspirieren und Geschichten erzählen, die berühren."
  keywords="Film, Dokumentation, Campos Viola, Videoproduktion, Kino"
  image=""
  body_class="page-color-dark-video page-color-light-video"
>


<section>
  <!-- Video Carousel -->
  <div class="relative z-0">
    <VideoCarousel />
  </div>

  <!-- DVD-Cover Slider -->
  <div class="-mt-36 relative z-10">  
    <DVDCoverSlider />
  </div>
</section>
<script type="module">
  import VideoController from '/scripts/VideoController.js';
  VideoController.init();
</script>
</Base>
