---
import Base from "@/layouts/Base.astro";
import VideoCarousel from "@/components/VideoCarousel.astro";
import DVDCoverSlider from "@/layouts/components/DVDCoverSlider.astro";
import VideoController from " @/scripts/VideoController.js";


---

<Base
  title="Cinema Projekte – Campos Viola"
  meta_title="Cinema | Do"
  description="Erlebe beeindruckende Filme und Dokumentationen von Campos Viola. Entdecke Projekte, die inspirieren und Geschichten erzählen, die berühren."
  keywords="Film, Dokumentation, Campos Viola, Videoproduktion, Kino"
  image=""
  body_class="page-color-dark-video page-color-light-video"
>
<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
  const script = document.createElement('script');
  script.type = 'module';
  script.src = '/scripts/VideoController.js';
  script.onload = () => {
    console.log('VideoController.js wurde erfolgreich geladen');
  };
  script.onerror = () => {
    console.error('Fehler beim Laden von VideoController.js');
  };
  document.body.appendChild(script);
});
</script>

<section>
  <!-- Video Carousel -->
  <div class="relative z-0">
    <VideoCarousel />
  </div>

  <!-- DVD-Cover Slider -->
  <div class="-mt-36 relative z-10">  
    <DVDCoverSlider />
  </div>
</section>

</Base>
